.s-catalog
  padding: rem(30px) 0 rem(86px)
  background-color: #ECF1FC

.catalog
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: rem(30px)

.catalog-filter
  display: flex
  justify-content: flex-end
  align-items: center
  margin-bottom: rem(20px)

  .sort-selected
    span
      color: #8496B6

.catalog-sort
  margin-right: rem(28px)

.catalog-view
  display: flex
  align-items: center

.catalog-view-btn
  text-decoration: none !important
  +tr
  color: #8496B6
  font-size: rem(15px)
  margin-right: rem(16px)
  display: flex

  &:last-child
    margin-right: 0

  &:hover,
  &.active
    color: $accent

  .icon-list
    font-size: rem(19px)

.catalog-item
  position: relative
  overflow: hidden
  background-color: #fff
  padding: rem(95px) rem(30px) rem(30px)

  &.with-border
    border: 1px solid #ECEFF4

  &:hover
    .catalog-item-body
      opacity: 0
      visibility: hidden
      transform: translateY(-10px)

    .catalog-item-hover
      opacity: 1
      visibility: visible
      transform: translateY(0)

  &.big
    grid-column: span 2

    .catalog-item-descr
      ul
        display: flex
        flex-wrap: wrap
        margin: 0 rem(-30px)

        li
          flex-shrink: 0
          width: 50%
          padding: 0 rem(30px)

    .catalog-item-btn .btn:last-child
      flex-grow: 0
      min-width: rem(185px)


.catalog-item-top
  position: absolute
  top: rem(30px)
  left: rem(30px)
  right: rem(30px)
  display: flex
  z-index: 1

.catalog-item-tags
  display: flex
  flex-wrap: wrap
  margin-right: rem(10px)
  flex-grow: 1

.catalog-item-flag
  img
    width: rem(30px)
    display: block

.catalog-item-body
  +tr

.catalog-item-img
  margin-bottom: rem(40px)

  img
    width: 100%
    display: block
    height: auto

    &.grayscale
      filter: grayscale(1)
      will-change: filter

.catalog-item-title
  margin-bottom: rem(35px)
  font-size: rem(15px)
  line-height: 1.333
  font-weight: bold

  a
    +tr
    color: $textcolor
    text-decoration: none !important

    &:hover
      color: $accent

.catalog-item-price-block
  display: flex
  align-items: flex-end
  margin-bottom: rem(30px)

.catalog-item-price
  font-size: rem(20px)
  font-weight: bold
  margin-right: rem(13px)
  white-space: nowrap

.catalog-item-availability
  display: flex
  align-items: flex-end
  flex-grow: 1
  justify-content: space-between

.catalog-item-availability-left
  font-size: rem(12px)
  color: #8496B6
  margin: 0 rem(30px) rem(3px) 0

.catalog-item-descr
  ul
    list-style-type: none
    padding: 0
    margin: 0
    font-size: rem(12px)

    li
      display: flex
      margin-bottom: rem(5px)

      &:last-child
        margin-bottom: 0

      span
        &:first-child
          color: #92A8B9
          margin-right: rem(10px)
          flex-grow: 1

        &:last-child
          font-weight: bold
          text-align: right

.catalog-item-btn
  display: flex
  align-items: center
  margin-top: rem(35px)

  .btn
    font-size: rem(12px)
    padding: 0 rem(22px)
    margin-right: rem(4px)
    text-transform: none

    &:first-child

    &:last-child
      margin-right: 0
      flex-grow: 1

    .btn-with-icon span
      font-size: rem(20px)
      margin-left: rem(19px)

.catalog-item-hover
  position: absolute
  padding: rem(30px)
  bottom: 0
  left: 0
  width: 100%
  padding: rem(30px)
  transform: translateY(#{rem(10px)})
  opacity: 0
  visibility: hidden
  +tr

  .catalog-item-title
    margin-bottom: rem(6px)

  .catalog-item-availability
    align-items: center
    margin-bottom: rem(30px)

.adw-block
  position: relative
  overflow: hidden
  min-height: rem(500px)

  &:hover
    .adw-block-bg
      img
        transform: scale(1.1)

.adw-block-bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    +tr4

.adw-block-content
  position: relative
  z-index: 1
  height: 100%
  display: flex
  flex-direction: column
  padding: rem(30px)
  background: linear-gradient(0deg, rgba(80, 105, 126, 0.8), rgba(80, 105, 126, 0.8))

.adw-block-tags
  margin-bottom: rem(30px)
  display: flex
  flex-wrap: wrap

  .tag
    background-color: #EDF4FA

.adw-block-title
  margin-top: auto
  font-weight: bold
  line-height: 1.25
  color: #fff
  font-size: rem(20px)

.catalog-item-big-body
  display: flex
  align-items: flex-end
  margin-bottom: rem(34px)

.catalog-item-big-body-left
  padding-right: rem(10px)
  width: 42.5%

  .catalog-item-title
    margin: 0

.catalog-item-big-body-right
  width: 57.5%

  .catalog-item-img
    margin: 0

.catalog-order-block
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: rem(30px)

  .h3
    margin-bottom: rem(18px)
    line-height: 1.25

  p
    margin-bottom: rem(36px)
    color: #8496B6
    font-size: rem(12px)

.pagination
  display: flex
  align-items: center
  margin-top: rem(58px)

.pagination-nav
  display: flex
  align-items: center
  margin-right: rem(89px)

.pagination-nav-link
  width: rem(58px)
  height: rem(58px)
  line-height: rem(58px)
  text-align: center
  flex-shrink: 0
  margin-right: rem(6px)
  position: relative
  background-color: transparent
  outline: none !important
  border: none
  z-index: 1
  font-size: rem(15px)
  color: #92A8B9
  +tr
  padding: 0

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    background-color: #8E99AF
    z-index: -1
    opacity: 0
    transform: scale(.7)
    +tr

  &.active
    color: #fff

    &:after
      opacity: 1
      transform: scale(1)

.pagination-nav-next
  background-color: transparent
  outline: none !important
  border: none
  margin-left: rem(5px)
  font-size: rem(15px)
  color: #92A8B9
  +tr
  line-height: rem(58px)
  padding: 0

  &:hover:not(:disabled)
    color: $accent

  &:disabled
    opacity: .5

.pagination-visible
  padding-left: rem(30px)
  margin-left: auto
  color: #50697E

.catalog-item-sticks
  flex-grow: 1
  display: flex
  flex-direction: column

.stick
  position: relative

.stick-content
  display: inline-flex
  align-items: center
  height: rem(50px)
  position: relative
  color: #fff
  &.type-1
    background-color: #FF8A00
