.filters-component
  position: relative
  z-index: 1
  margin-bottom: 34px

.filters-header
  display: flex
  align-items: center
  margin-bottom: 15px

.filter-checkboxes
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  margin: 0 0 -6px

.filters-body
  display: flex
  background-color: #fff
  overflow: hidden

.filters-slider-range-big
  width: 56%
  flex-shrink: 0
  padding: 26px 30px 11px

.slider-range-label
  font-size: 12px
  text-transform: uppercase
  margin-bottom: 12px

.slider-range-inputs
  font-size: 45px
  margin-bottom: 11px
  white-space: nowrap
  overflow: hidden
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
  line-height: 1.1

.slider-help-radio
  .label-checkbox
    label
      span
        padding: 0 11px
        height: 32px
        line-height: 32px

        &:after
          background-color: #ECF1FC

.filter-right
  width: 44%
  flex-shrink: 0

  .filter-item
    &:nth-child(1),
    &:nth-child(2)
      .filter-item-popup .trigger:after
        height: auto
        bottom: -1px

    &:nth-child(1),
    &:nth-child(3)
      .filter-item-popup .trigger:after
        right: -1px
        width: auto


.filters-selects
  display: grid
  grid-template-columns: 50% 50%

.filter-item
  position: relative
  background-color: #fff
  min-height: 98px
  box-shadow: 0 0 0 1px #E6EAF0
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: center
  +tr
  flex-shrink: 0

  &.active
    .filter-item-popup
      .trigger
        &:after
          opacity: 1
          visibility: visible

.filter-item-popover-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.filter-item-selected
  padding: 20px 20px 20px 45px

.filter-item-selected-label
  position: relative
  display: inline-block
  text-transform: uppercase
  font-size: 12px
  padding-right: 14px

  &:after
    content: '\e916'
    font-family: icon
    font-size: 6px
    position: absolute
    line-height: 1
    font-weight: normal
    right: 0
    top: 4px
    +tr

.filter-item-selected-value
  margin-top: 5px
  font-size: 12px
  color: $accent
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.filter-item-dropdown
  position: absolute
  background-color: #fff
  z-index: 100
  box-shadow: 0px 48px 95px rgba(0, 0, 0, 0.2)
  transition: opacity .4s ease
  opacity: 0

  &.open
    opacity: 1

.filter-dropdown-row
  width: 659px
  display: flex

.filter-dropdown-form
  padding: 17px 28px 28px
  flex-shrink: 0
  width: 54%

  &:last-child
    width: 100%

  .slider-range-inputs
    font-size: 30px

.filter-dropdown-info
  padding: 28px
  background-color: #ECF1FC
  width: 46%
  flex-shrink: 0
  line-height: 1.7
  color: #8E99AF

  .icon-exc
    font-size: 18px
    margin-bottom: 20px
    display: block
    color: #8496B6

.filter-item-popup
  min-height: 100%
  display: flex
  flex-grow: 1
  position: relative

  &.open
    .trigger
      &:after
        opacity: 1
        visibility: visible

    .filter-item-selected-label
      &:after
        transform: rotate(180deg)

  .trigger
    flex-grow: 1
    width: 100%
    overflow: hidden
    display: flex !important
    flex-direction: column
    justify-content: center

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border: 1px solid $accent
      z-index: 1
      +tr
      opacity: 0
      visibility: hidden

.filters-footer
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 37px

.filters-results
  color: $muted

.filters-btn
  display: flex
  align-items: center
  margin-left: auto
  .btn
    margin-right: 10px
    &:last-child
      margin-right: 0
