.filters-component
  position: relative
  z-index: 1
  margin-bottom: rem(34px)

.filters-header
  display: flex
  align-items: center
  margin-bottom: rem(15px)

.filter-checkboxes
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  margin: 0 0 rem(-6px)

.filters-body
  display: flex
  background-color: #fff
  overflow: hidden

.filters-slider-range-big
  width: 56%
  flex-shrink: 0
  padding: rem(26px) rem(30px) rem(11px)

.slider-range-label
  font-size: rem(12px)
  text-transform: uppercase
  margin-bottom: rem(12px)

.slider-range-inputs
  font-size: rem(45px)
  margin-bottom: rem(11px)
  white-space: nowrap
  overflow: hidden
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
  line-height: 1.1

.slider-help-radio
  .label-checkbox
    label
      span
        padding: 0 rem(11px)
        height: rem(32px)
        line-height: rem(32px)

        &:after
          background-color: #ECF1FC

.filter-right
  width: 44%
  flex-shrink: 0

  .filter-item
    &:nth-child(1),
    &:nth-child(2)
      .filter-item-popup .trigger:after
        height: auto
        bottom: -1px

    &:nth-child(1),
    &:nth-child(3)
      .filter-item-popup .trigger:after
        right: -1px
        width: auto


.filters-selects
  display: grid
  grid-template-columns: 50% 50%
  min-height: 100%

.filter-item
  position: relative
  background-color: #fff
  min-height: rem(98px)
  box-shadow: 0 0 0 1px #E6EAF0
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: center
  +tr
  flex-shrink: 0

  &.active
    .filter-item-popup
      .filter-item-selected-label
        transform: translateY(#{rem(-10px)})
      .trigger
        &:after
          opacity: 1
          visibility: visible

  &.accent
    .filter-item-selected
      padding-left: rem(44px)
      padding-right: rem(34px)
    .filter-item-selected-label
      font-size: rem(15px)
      font-weight: bold
      padding-right: rem(43px)
      width: 100%
      &:after
        font-size: rem(11px)


.filter-item-popover-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.filter-item-selected
  padding: rem(20px) rem(20px) rem(20px) rem(45px)
  position: relative

.filter-item-selected-label
  position: relative
  display: inline-block
  text-transform: uppercase
  font-size: rem(12px)
  padding-right: rem(14px)

  &:after
    content: '\e916'
    font-family: icon
    font-size: rem(6px)
    position: absolute
    line-height: 1
    font-weight: normal
    right: 0
    top: 50%
    margin-top: rem(-4px)
    +tr

.filter-item-selected-value
  margin-top: rem(5px)
  font-size: rem(12px)
  color: $accent
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  position: absolute
  bottom: rem(10px)
  max-width: calc(100% - #{rem(65px)})

.filter-item-dropdown
  position: absolute
  background-color: #fff
  z-index: 100
  box-shadow: 0px rem(48px) rem(95px) rgba(0, 0, 0, 0.2)
  transition: opacity .4s ease
  opacity: 0

  &.open
    opacity: 1

.filter-dropdown-row
  //width: 659px
  display: flex

.filter-dropdown-form
  padding: rem(17px) rem(28px) rem(28px)
  flex-shrink: 0
  //width: 54%
  width: rem(355px)

  &:last-child
    //width: 100%
    width: rem(440px)

  .slider-range-inputs
    font-size: rem(30px)

.filter-dropdown-info
  padding: rem(28px)
  background-color: #ECF1FC
  //width: 46%
  width: rem(304px)
  flex-shrink: 0
  line-height: 1.7
  color: #8E99AF

  .icon-exc
    font-size: rem(18px)
    margin-bottom: rem(20px)
    display: block
    color: #8496B6

.filter-item-popup
  min-height: 100%
  display: flex
  flex-grow: 1
  position: relative

  &.open
    .trigger
      &:after
        opacity: 1
        visibility: visible

    .filter-item-selected-label
      &:after
        transform: rotate(180deg)

  .trigger
    flex-grow: 1
    width: 100%
    overflow: hidden
    display: flex !important
    flex-direction: column
    justify-content: center

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border: 1px solid $accent
      z-index: 1
      +tr
      opacity: 0
      visibility: hidden

.filters-footer
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: rem(37px)

.filters-results
  color: $muted

.filters-btn
  display: flex
  align-items: center
  margin-left: auto

  .btn
    margin-right: rem(10px)

    &:last-child
      margin-right: 0

.sort-block
  display: flex
  align-items: center
  margin-top: rem(22px)

.sort-extended
  flex-grow: 1

  a
    font-size: rem(12px)
    font-weight: normal
    text-transform: uppercase
    color: $accent !important
    position: relative
    font-weight: bold

    &:hover
      &:after
        transform: scaleX(1)

    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background-color: $accent
      transform-origin: top left
      transform: scaleX(0)
      +tr

.sort-select-component
  display: flex
  white-space: nowrap

.sort-select-component-title
  font-size: rem(12px)
  text-transform: uppercase
  color: #8496B6
  margin-right: rem(9px)

.sort-select
  position: relative
  white-space: nowrap

  &.opened
    .sort-selected
      span
        &:after
          transform: rotate(180deg)

    .sort-dropdown
      opacity: 1
      visibility: visible
      transform: translateY(0)

.sort-selected
  font-size: rem(12px)
  white-space: nowrap
  text-transform: uppercase
  color: #1D2027

  span
    display: block
    position: relative
    padding-right: rem(14px)
    cursor: pointer
    user-select: none

    &:after
      content: '\e916'
      font-family: icon
      font-size: rem(6px)
      position: absolute
      right: 0
      top: rem(4px)
      +tr

.sort-dropdown
  position: absolute
  top: calc(100% + #{rem(10px)})
  right: 0
  background-color: #fff
  padding: rem(20px)
  white-space: nowrap
  z-index: 3
  opacity: 0
  visibility: hidden
  transform: translateY(#{rem(-10px)})
  +tr4
  box-shadow: 0px 0px 15px 0px rgb(#000, .1)

  ul
    padding: 0
    margin: 0
    list-style-type: none

    li
      margin: 0 0 rem(5px)

      &:last-child
        margin-bottom: 0

      a
        font-size: rem(12px)
        text-transform: uppercase
        color: #1D2027
        +tr

        &.active,
        &:hover
          color: $accent

.sort-btns
  display: flex
  align-items: center

  .sort-select
    margin-right: rem(58px)

.filter-item-dropdown
  //width: 659px

.filter-second-component
  display: flex
  align-items: center
  background-color: #fff
  margin-bottom: rem(30px)
  .filter-item
    min-height: rem(111px)
    margin-right: -1px
    &:nth-last-child(2)
      box-shadow: none
      background-color: transparent
    &.accent
      width: rem(387px)
      flex-grow: 0
  .filter-item-selected
    padding-left: rem(37px)
    padding-right: rem(37px)
  .filter-item-selected-value
    max-width: calc(100% - #{rem(65px)})

.filter-second-btn
  margin-left: auto
  padding: 0 rem(25px)
  .btn
    padding: 0 rem(28px)
