.form-checkbox
  margin-bottom: rem(14px)

  label
    display: inline-block

    input
      position: absolute
      opacity: 0
      z-index: -1
      visibility: hidden

      &:checked
        & + span
          &:before
            opacity: 1
            transform: scale(1)

    span
      position: relative
      display: block
      padding-left: rem(35px)
      color: #8496B6
      font-size: rem(15px)

      &:after
        content: ''
        position: absolute
        width: rem(20px)
        height: rem(20px)
        background-color: #ECF1FC
        top: -1px
        left: 0
        cursor: pointer

      &:before
        content: '\e917'
        font-size: rem(11px)
        font-family: icon
        color: $accent
        position: absolute
        left: rem(5px)
        top: rem(4px)
        z-index: 1
        cursor: pointer
        +tr
        opacity: 0
        transform: scale(0)
        line-height: 1

.form-group
  margin-bottom: rem(30px)

.vs__dropdown-toggle
  border-radius: 0 !important
  border: none !important
  border-bottom: 1px solid #8496B6 !important
  padding: 0 !important
  margin: 0 !important

.vs__selected-options
  padding: 0 !important

.vs__search
  height: rem(49px) !important
  padding: 0 !important
  margin: 0 !important
  color: #8496B6 !important
  font-size: rem(15px) !important

.vs__selected
  border: none !important
  padding: 0 !important
  margin: 0 !important
  font-size: rem(12px) !important
  color: $textcolor !important
  position: static !important
  opacity: 1 !important

.vs__actions
  display: none !important

.vs__selected-options
  &:after
    content: '\e916'
    font-family: icon
    font-size: rem(8px)
    margin: auto 0 auto rem(5px)
    color: #8496B6
    font-weight: normal
    +tr

.v-select
  &.vs--open
    .vs__selected-options
      &:after
        transform: rotate(180deg)

.vs__dropdown-menu
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

.vs__dropdown-option
  font-size: rem(12px)

.vs__dropdown-option--highlight
  background-color: $accent

.vs__dropdown-option--selected
  background-color: #EDF4FA
  color: $textcolor !important

.form-control
  height: rem(49px)
  border: none
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  border-bottom: 1px solid #8496B6
  padding: 0
  width: 100%
  background-color: transparent
  color: $textcolor
  outline: none !important
  display: block
  +tr
  font-size: rem(15px)

  &::placeholder
    color: #8496B6
    +tr

  &:focus
    border-bottom-color: $accent

    &::placeholder
      opacity: 0
      transform: translateY(#{rem(-3px)})

textarea.form-control
  padding: rem(15px) 0 rem(5px)
  resize: none
  min-height: rem(49px)
  line-height: 1.15
  +scrollbar

  &.square
    height: rem(120px)
    padding: rem(15px)
    border: 1px solid #fff

.form-row
  display: flex
  flex-wrap: wrap
  margin: 0 rem(-10px)

  .form-group
    padding: 0 rem(10px)
    flex-shrink: 0
    width: 50%

.footer-callback
  flex-shrink: 0
  width: rem(540px)

  .h6
    text-transform: uppercase
    font-size: rem(15px)
    line-height: 1.1
    margin-bottom: rem(11px)

.form-footer
  display: flex
  flex-wrap: wrap
  margin: rem(40px) rem(-10px) 0
  align-items: center

  > div
    padding: 0 rem(10px)
    width: 50%
    flex-shrink: 0
    margin: 0

  .form-submit
    text-align: right

.form-label
  display: block
  margin: rem(20px) 0
