.s-main-window
  padding: rem(46px) 0 rem(65px)
  overflow: hidden

.main-window
  display: flex

.main-window-left
  width: 50%
  flex-shrink: 0
  padding-right: rem(75px)
  position: relative
  z-index: 1

.main-window-btns
  display: flex

  .btn
    margin-right: rem(10px)

    &:last-child
      margin-right: 0

.main-window-right
  width: 50%
  flex-shrink: 0
  margin-top: auto
  position: relative
  z-index: 0

.main-slider-title
  font-size: rem(15px)
  color: #8496B6
  margin-bottom: rem(37px)
  padding-right: rem(120px)

.swiper-slide
  height: auto !important

.main-slider--slide
  padding: rem(20px) rem(25px) rem(30px)
  background-color: #ECF1FC
  height: 100%
  position: relative
  overflow: hidden
  min-height: rem(250px)

  .h4
    position: relative
    z-index: 1

  img
    position: absolute
    width: rem(155px)
    bottom: rem(6px)
    right: rem(6px)

.info-link
  position: absolute
  bottom: rem(30px)
  left: rem(30px)
  z-index: 1

.info-link-btn
  width: rem(29px)
  height: rem(29px)
  cursor: pointer
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  position: relative
  background-color: $accent

  &:after,
  &:before
    content: ''
    position: absolute
    background-color: #fff

  &:after
    width: rem(13px)
    height: rem(1px)
    top: rem(14px)
    left: rem(8px)

  &:before
    width: rem(1px)
    height: rem(13px)
    top: rem(8px)
    left: rem(14px)

.main-slider
  overflow: visible

  .swiper-slide
    transition: all .4s ease
    opacity: 0
    visibility: hidden
    transform: translateX(100%)

    &.swiper-slide-active
      opacity: 1
      visibility: visible
      transform: translateX(0)

      & ~ .swiper-slide
        opacity: 1
        visibility: visible
        transform: translateX(0)

.main-slider-button
  position: absolute
  bottom: calc(100% + #{rem(32px)})
  right: 0
  font-size: rem(19px)
  color: #8496B6
  cursor: pointer

  &-next
    right: 0

  &-prev
    right: rem(60px)

.info-hover-dropdown
  &.wide
    max-width: rem(540px)
  p
    font-size: rem(15px)
    color: #8E99AF
    &:last-child
      margin-bottom: 0

.slider-adv-popover
  margin-top: rem(14px) !important
