.s-main-section
  padding: rem(36px) 0
  display: flex
  min-height: calc(var(--vh) * 100)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, .5)
    z-index: 0

.main-section-content
  color: #fff
  position: relative
  z-index: 1

.main-section-logo
  margin-bottom: rem(25px)

  .logo
    img
      width: rem(80px)

.main-section-bottom
  border-top: 1px solid #fff
  display: flex
  padding-top: rem(24px)

.main-section-title
  width: 33.5%
  flex-shrink: 0
  padding-right: rem(75px)

.main-section-menu
  display: flex
  flex-direction: column
  align-items: flex-start

  a
    position: relative
    padding-right: rem(25px)
    line-height: 1.2
    margin-bottom: rem(18px)
    font-size: rem(40px)
    color: rgba(#fff, .5)
    +tr
    text-transform: uppercase

    &:hover
      color: #fff

    &:last-child
      margin-bottom: 0

    &:after
      content: '\e901'
      font-family: icon
      position: absolute
      top: rem(8px)
      right: 0
      font-size: rem(13px)
      font-weight: normal

